/*BASICOS*/
h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
p{
  text-align: center;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
}
.header .navbar {
    background-color: transparent !important;
  }
body {
    
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem ;
    margin: 0;
};
.carouselExampleControls { width: 640px; height: 360px; }
ul {
  list-style: none!important;
}
/*HEADER*/
.header{
background: #fff;
height: 50px;
z-index: 999999;
margin: 0 auto;
border-bottom: 1px solid #dadada;
width: 100%;
position: fixed;
top: 0;
left: 0;
right: 0;
text-align: center;
}
a {
  color:black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 20%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

.btnheader a:after  {
text-transform: uppercase;
letter-spacing: 0.15em;
background: none repeat scroll 0 0 transparent;
bottom: 0;
content: "";
display: block;
height: 2px;
left: 40%;
position: absolute;
background:black;
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;

}

a:hover:after{
  width: 100%; 
  left: 0; 
}

/*SERVICIOS*/
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.wrapper{
width: 100%;

background: #fff;
padding: 15px 0;
}

.slider-testimonial{
width: 85%;
max-width: 1400px;
margin: auto;
}

.testimonial-client{
margin-bottom: 15px;
}

.testimonial-client img{
width: 120px;
margin: auto;
}

.client-name{
font-family: "Open sans";
font-weight: 600;
text-align: center;
}

.testimonial-text{
padding: 10px 120px;
}

.testimonial-text p{
font-family: "Open sans";
font-size: 25px;
font-weight: 400;
font-style: italic;
text-align: center;
color: #454545;
}

/*CONTACTO*/
#redes  {
  display:inline;
  padding-right: 28px;
  padding-left: 18px;
  
}
#cajaredes{
  padding-top: 15px;
}
#ubicacion  {
  text-align: center;
}
#listadoredes {
  text-align: center;
}
#tituloformulario{
  
  text-align: center;
  background-color:black ;
  line-height: 45px;;
  border-radius: 0.5em;
  
}
.textobotones{
  color: white;
  font-family:'Raleway', sans-serif; ;
}
form{
  border:  1px dotted #999; 
  border-radius: 5px ;
  padding:12px;
}
/* VALIDACION*/
.warnings{
  width: 200px;
  text-align: center;
  margin: auto;
  color: #B06AB3;
  padding-top: 20px ;
}